@media all and (min-width: 375px) {
  #popup-menu {
    height: 350px;
  }
}

@media all and (min-width: 425px) {
  #popup-menu {
    height: 400px;
  }
}

@media all and (min-width: 768px) {
  .title {
    font-size: 3rem;
  }

  .appbar > img:nth-child(1) {
    width: 9rem;
  }

  .appbar > img:nth-child(2) {
    display: none;
  }

  .desktop-nav {
    display: block;
  }

  .nav-items {
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: snow;
    font-family: BarlowSemiBold;
    font-size: 1.1rem;
  }

  .contact-button {
    background-color: snow;
  }

  .title-arrow {
    padding-bottom: 3rem;
  }

  .section {
    display: flex;
  }

  #transform-section {
    flex-direction: row-reverse;
  }

  #stand-out-section {
    flex-direction: row;
  }

  .section-article {
    padding: 0rem 3rem;
    flex: 1 0 50%;
    text-align: left;
    align-items: flex-start;
    justify-content: center;
  }

  .section-image {
    flex: 1 0 50%;
  }

  .graphic-design-photography-section {
    display: flex;
    flex-direction: row;
  }

  .graphic-design-section {
    flex: 1 0 50%;
  }

  .photography-section {
    flex: 1 0 50%;
  }

  .graphic-design-article,
  .photography-article {
    padding: 0rem 3rem;
    bottom: 0.5rem;
  }

  .graphic-design-article > p,
  .photography-article > p {
    margin-top: 0.6rem;
  }

  .testimonials {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }

  .gallery-image {
    flex: 1 0 25%;
  }

  .footer-nav {
    width: 70%;
  }

  .footer-icons {
    width: 30%;
  }
}

@media all and (min-width: 1024px) {
  .title-arrow {
    padding-bottom: 12rem;
  }

  .section-article {
    padding: 0rem 6rem;
  }

  .graphic-design-article,
  .photography-article {
    padding: 0rem 4rem;
    bottom: 2rem;
  }

  .graphic-design-article > p,
  .photography-article > p {
    margin-top: 2rem;
  }

  .footer-nav {
    width: 60%;
  }

  .footer-icons {
    width: 20%;
  }
}

@media all and (min-width: 1440px) {
  .title-arrow {
    padding-bottom: 15rem;
  }

  .section-article {
    padding: 0rem 10rem;
  }

  .graphic-design-article,
  .photography-article {
    padding: 0rem 10rem;
  }

  .footer-nav {
    width: 40%;
  }

  .footer-icons {
    width: 15%;
  }
}
