@media all and (min-width: 375px) {
  #popup-menu {
    height: 350px;
  }
}

@media all and (min-width: 425px) {
  #popup-menu {
    height: 400px;
  }
}

@media all and (min-width: 768px) {
  .title {
    font-size: 3rem;
  }

  .appbar > img:nth-child(1) {
    width: 9rem;
  }

  .appbar > img:nth-child(2) {
    display: none;
  }

  nav {
    display: block;
  }

  .nav-items {
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: snow;
    font-family: BarlowSemiBold;
    font-size: 1.1rem;
  }

  .contact-button {
    background-color: snow;
  }

  .title-arrow {
    padding-bottom: 3rem;
  }

  .section {
    display: flex;
    align-items: stretch;
  }

  #transform-section {
    flex-direction: row-reverse;
  }

  #stand-out-section {
    flex-direction: row;
  }

  .section-article {
    padding: 0rem 3rem;
    flex: 1 1 50%;
    text-align: left;
    align-items: flex-start;
    justify-content: center;
    height: calc(50vw / 1.2);
  }

  .section-image {
    flex: 1 1 50%;
  }
}

@media all and (min-width: 1024px) {
  .title-arrow {
    padding-bottom: 12rem;
  }

  .section-article {
    padding: 0rem 6rem;
  }
}

@media all and (min-width: 1440px) {
  .title-arrow {
    padding-bottom: 15rem;
  }

  .section-article {
    padding: 0rem 10rem;
  }
}
